                            <li class="<%= current_page.data.kpi_operation_operationPerformance_isActive %> menu-dropdown classic-menu-dropdown ">
                                <a href="javascript:;"> DC
                                    <span class="arrow"></span>
                                </a>
                                <ul class="dropdown-menu pull-left">
                                    <li class=" ">
                                        <a href="" class="nav-link  "> Sale & Customer Service </a>
                                    </li>
                                    <li class=" ">
                                        <a href="" class="nav-link  "> Operation : Booking DD </a>
                                    </li>
                                    <li class=" ">
                                        <a href="" class="nav-link  "> Operation : Job </a>
                                    </li>
                                    <li class=" dropdown-submenu">
                                        <a href="" class="nav-link  "> 
                                            Document 
                                            <span class="arrow"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class=" ">
                                                <a href=""> ออกในำส่งสินค้า <br/>(Delivery order) </a>
                                            </li>
                                            <li class=" ">
                                                <a href=""> พิมพ์ใบนำส่งสินค้า <br/>(Print delivery order) </a>
                                            </li>
                                            <li class=" ">
                                                <a href=""> รายการใบนำสินค้า <br/>(Delivery order list) </a>
                                            </li>
                                            <li class="dropdown-submenu">
                                                <a href=""> 
                                                    ออกใบรายการคืนเอกสาร 
                                                    <span class="arrow"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li class=" ">
                                                        <a href=""> คืนจากศูนย์กลับสำนักงานใหญ่ </a>
                                                    </li>
                                                    <li class=" ">
                                                        <a href=""> บันทึกรับเอกสารคืนจากศูนย์ </a>
                                                    </li>
                                                    <li class=" ">
                                                        <a href=""> คืนเอกสารให้ลูกค้า </a>
                                                    </li>
                                                    <li class=" ">
                                                        <a href=""> บันทึกลูกค้ารับซองเอกสาร <br/>(บันทึกวัน เวลา ชื่อผู้รับ ที่ลูกค้าต้นทางได้รับของ) </a>
                                                    </li>
                                                    <li class=" ">
                                                        <a href=""> บันทึกการส่งมอบให้บัญชี </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="" class="nav-link  "> 
                                            Finance / Cashier 
                                            <span class="arrow"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class=" ">
                                                <a href=""> รายการในำส่งสินค้า <br/>(Delivery order list) </a>
                                            </li>
                                            <li class="dropdown-submenu ">
                                                <a href=""> 
                                                    เปิดใบแจ้งหนี้ค่าขนส่ง <br/>(Invoice) 
                                                     <span class="arrow"></span>
                                                </a>
                                                <ul class="dropdown-menu ">
                                                    <li class=" ">
                                                        <a href=""> ใบแจ้งหนี้ค่าขนส่ง <br/>(Transport Service inv) </a>
                                                    </li>
                                                    <li class=" ">
                                                        <a href=""> ค่าใช้จ่ายออกแทน <br/>(Re-imbursement inv) </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class=" ">
                                                <a href=""> เปิดใบลดหนี้ <br/>(Credit note) </a>
                                            </li>
                                            <li class=" ">
                                                <a href=""> เปิดใบวางบิล <br/>(Bill placement) </a>
                                            </li>
                                            <li class=" ">
                                                <a href=""> ใบเสร็จรับเงิน <br/>(Receipt) </a>
                                            </li>
                                            <li class=" ">
                                                <a href=""> บันทึกการส่งมอบเอกสาร <br/>(Receipt) </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class=" ">
                                        <a href="" class="nav-link  "> Driver Wage Payment </a>
                                    </li>
                                </ul>
                            </li>