                            <li class="<%= current_page.data.kpi_operation_operationPerformance_isActive %> menu-dropdown classic-menu-dropdown ">
                                <a href="javascript:;"> DD
                                    <span class="arrow"></span>
                                </a>
                                <ul class="dropdown-menu pull-left">
                                    <li class=" ">
                                        <a href="" class="nav-link  "> Sale & Customer Service </a>
                                    </li>
                                    <li class=" ">
                                        <a href="" class="nav-link  "> Operation : Booking DD </a>
                                    </li>
                                    <li class=" ">
                                        <a href="" class="nav-link  "> Operation : Job </a>
                                    </li>
                                    <li class=" ">
                                        <a href="" class="nav-link  "> Document </a>
                                    </li>
                                    <li class=" ">
                                        <a href="" class="nav-link  "> Finance / Cashier </a>
                                    </li>
                                    <li class=" ">
                                        <a href="" class="nav-link  "> Driver Wage Payment </a>
                                    </li>
                                </ul>
                            </li>