                            <li class="<%= current_page.data.kpi_operation_operationPerformance_isActive %> menu-dropdown classic-menu-dropdown ">
                                <a href="javascript:;"> Other
                                    <span class="arrow"></span>
                                </a>
                            </li>