    /**
     *
     * @apiName BoxOperationKPI
     * @apiGroup KPI Manager
     * @apiVersion 0.1.0
     *
     * @api {post} /kpiManager/boxOperationKPI/ Post API template
     * @apiDescription คำอธิบาย : ในส่วนนี้เป็นเทมเพล็ตสำหรับการสร้าง POST - API Template
     *
     */

    function boxOperationKPI($app, $client, $objPHPExcel) {

        /* ************************* */
        /* เริ่มกระบวนการรับค่าพารามิเตอร์จากส่วนของ Payload ซึ่งอยู่ในรูปแบบ JSON */
        /* ************************* */
        $headers = $app->request->headers;
        $ContetnType = $app->request->headers->get('Content-Type');

        /**
        * apidoc @apiSampleRequest, iOS RESTKit use content-type is "application/json"
        * Web Form, Advance REST Client App use content-type is "application/x-www-form-urlencoded"
        */

        if (($ContetnType == "application/json") || ($ContetnType == "application/json; charset=utf-8") ) {

            $request = $app->request();
            $result = json_decode($request->getBody());

            /* receive request */
            $postStartDate = $result->startDate;              /* รูปแบบ เดือน/วัน/ปี */
            $postEndDate = $result->endDate;               /* รูปแบบ เดือน/วัน/ปี */
            $postSiteName = $result->siteName;

        } else if (($ContetnType == "application/x-www-form-urlencoded") || ($ContetnType == "application/x-www-form-urlencoded; charset=UTF-8")){


        } 


        $error = $client->getError();
        if ($error) {
            echo "<h2>Constructor error</h2><pre>" . $error . "</pre>";
        }

        /* ************************* */
        /* เริ่มกระบวนการเชื่อมต่อ Web Service */
        /* ************************* */

        // $postStartDate = "06/16/2016";              /* รูปแบบ เดือน/วัน/ปี */
        // $postEndDate = "06/16/2016";               /* รูปแบบ เดือน/วัน/ปี */
        // $postSiteName = "bc";
        
        $result = $client->call('getOperationKPI', array("startDate" => $postStartDate,
                                                         "endDate" => $postEndDate,
                                                         "siteName" => $postSiteName));
        $mydata = json_decode($result["getOperationKPIResult"],true);


        /* initial variable Partial */
        $header_results = array();
        $data_results = array();

        $tmpJobDate = "";
        $tmpVehicleLicence = "";
        $tmpAmount = "";
        

        /* ************************* */
        /* เริ่มกระบวนการสร้าง Excel file */
        /* ************************* */

        $header_results[0] = "Box";


        for ($i=0; $i < count($mydata["array"]); $i++) { 

            if (!$tmpJobDate) {

                $tmpJobDate = $mydata["array"][$i]['JobDate'];
                $tmpVehicleLicence = $mydata["array"][$i]['VehicleLicence'];


                

                array_push($header_results, date_format(date_create($tmpJobDate),"d/m/Y"));
                // array_push($data_results, $tmpVehicleLicence);


            } else if ($tmpJobDate != $mydata["array"][$i]['JobDate']) {

                $tmpJobDate = "";
                // $data_results = array();

                $tmpJobDate = $mydata["array"][$i]['JobDate'];
                // $tmpVehicleLicence = $mydata["array"][$i]['VehicleLicence'];

                array_push($header_results, date_format(date_create($tmpJobDate),"d/m/Y"));
                // array_push($header_results, $tmpJobDate);
                // array_push($data_results, $tmpVehicleLicence);


            } else {

                $tmpJobDate = $mydata["array"][$i]['JobDate'];


            }


            if (!$tmpVehicleLicence) {

                $tmpVehicleLicenceArr = array();

                $tmpVehicleLicence = $mydata["array"][$i]['VehicleLicence'];
                $tmpAmount = $mydata["array"][$i]['amount'];

                array_push($tmpVehicleLicenceArr, $tmpVehicleLicence);
                array_push($tmpVehicleLicenceArr, $tmpAmount);

                array_push($data_results, $tmpVehicleLicenceArr);
                // $data_results[] = $tmpVehicleLicenceArr;

            } else if ($tmpVehicleLicence != $mydata["array"][$i]['VehicleLicence']) {

                $tmpVehicleLicenceArr = array();

                $tmpVehicleLicence = $mydata["array"][$i]['VehicleLicence'];
                $tmpAmount = $mydata["array"][$i]['amount'];

                array_push($tmpVehicleLicenceArr, $tmpVehicleLicence);
                array_push($tmpVehicleLicenceArr, $tmpAmount);

                array_push($data_results, $tmpVehicleLicenceArr);
                // $data_results[] = $tmpVehicleLicenceArr;


            } else {
                $tmpVehicleLicence = $mydata["array"][$i]['VehicleLicence'];
            }


        }

        $header_results[count($header_results)] = "Average";

        /* ************************* */
        /* เริ่มกระบวนการส่งค่ากลับ */
        /* ************************* */


        // $header_results = array("Box", "06/06/2016", "06/07/2016", "06/08/2016", "06/09/2016", "06/10/2016", "Average");

        // $data_results[] = array("กค-3395", "20", "34", "16", "45", "45", "45");
        // $data_results[] = array("กค-3396", "21", "35", "17", "46", "45", "45");


        $reportResult = array("columns" =>  $header_results, 
                              "rows" => $data_results);
        $app->response()->header("Content-Type", "application/json");
        echo json_encode($reportResult);

    };